#mutals-title{
    font-size: 24px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
}
#mutuals-btn{
    text-decoration: none;
    color: #ab76f6;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#layout-mutuals-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#mutuals-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#header-mutuals{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-top: 15px;
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 2;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(45px);
    padding: 20px;
}
#welcome-header-mutuals{
    font-size: 30px;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    margin-bottom: 15px;
}
#mutuals-msg{
    font-size: 14px;
    color: hsla(0,0%,100%,.6);
    margin-bottom: 20px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;;
}
#mutual-filters{
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 540px;
    padding: 0 40px 0 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: hsla(0,0%,100%,.6);
    cursor: pointer;
}
.mutuals-list{
    display: flex;
    flex-direction: column;
    width: 540px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #ffff;
    /* padding: 40px; */

}