.showpage-layout{
    display: flex;
    display: grid;
    justify-content: space-between;

    padding: 10px;
    margin-top: 30px;
    padding-bottom: 150px;
    padding-left: 80px;
    /* flex-direction: row; */
}
.show-info{
    width: 40%;
    margin-left: 60px;
    position: relative;
}
.show-title{
    font-size: xxx-large;
    font-weight: 700;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
#event-title-show{
    width: max-content;
}
.show-date-time{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: hsla(0,0%,100%,.9);
    /* font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif; */
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    width: max-content;
}
.show-details{
    margin-bottom: 40px;
}
.show-host{
    display: flex;
    width: max-content;
    /* width: fit-content; */
}
.show-hosted-title{
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
#show-host-by{
    padding-left: 10px;
    padding-right: 10px;
    color: hsla(0,0%,100%,.6);
    /* font-weight: 200; */
}
.show-host-profile{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.show-location{
    margin-top: 20px;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* color: hsla(0,0%,100%,.6); */
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
    width: max-content;
}
.show-cost{
    display: flex;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    width: max-content;
}
.show-capacity{
    display: flex;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    width: max-content;
}
.show-description{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    color: hsla(0,0%,100%,.6); 
    /* padding-bottom: 25px; */
}
.show-guests{
    display: flex;
    flex-direction: column;
}
.show-guests-rsvps{
    display: flex;
    flex-direction: row; font-size: 15px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.6);
    /* justify-content: space-around; */
    /* margin-left: -20px; */
}
.going{
    margin-right: 10px;
    margin-bottom: 5px;
}
.maybe{
    margin-right: 10px;
    margin-bottom: 5px;

}
.show-guests-profiles{
    display: flex;
    margin-top: 5px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #ab76f6;
}
.show-img{
    display: flex;
    justify-content: center;
    margin-left: -5px;
}
#show-img{
    height: 350px;
    width: 350px;
    padding: 10px;
}
.show-photo-rsvp{
    position: fixed;
    overflow-x: visible;
    overflow-y: auto;
    top: 150px;
    width: 460px;
    width: 45vw;
    margin-left: 40vw;
    /* max-height: calc(100% - 150px); */
    position: fixed;
    right: 100px;
    top: 50%;
    z-index: 95;
    transform: translateY(-50%);

    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* padding: 50px 8px; */
}

.rsvp-options-btns-container{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.show-add-pics-btn{
    color: #fff;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 25px;
}
#show-add-pics-btn{
    cursor: pointer;
    background-color: hsla(0,0%,100%,.4);
    backdrop-filter: blur(45px);
    border: none;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
}
#show-camera-btn-emoji{
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
}

.show-rsvps-comments-header{
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 25px;
}

.author-nav-sidebar{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 95;
    transform: translateY(-50%);
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2),0 4px 32px 0 rgba(0,0,0,.2);
    background-color: hsla(0,0%,100%,.2);
    backdrop-filter: blur(45px);
}
#author-nav-sidebar-item{
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#author-nav-sidebar-text{
    font-size: 12px;
    padding-top: 8px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
}

.container-guest-list{
    background-color: #fff;
    border-radius: 80px;
    height: 78px;
    width: 78px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.going-text-show{
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    color: rgba(0,0,0,.7);
}
#number-guest-going{
    color: #ab76f6;
}

.setting-text-show{
    font-weight: 700;
    font-size: 12px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.show-settings-menu{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    /* padding-bottom: 10px; */
    margin: 10px;
    /* margin-bottom: 10px;
    margin-top: -10px; */
}
.divider{
    height: 1px;
    width: 40px;
    border-top: 1px solid hsla(0,0%,100%,.25);
    align-self: center;
}
.edit-show-title{
    color: #fff;
}
.rsvp-btn{
    display: flex;
    flex-direction: column;
    height: max-content;
    /* width: 200px; */
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.6); /* text color*/
    /* padding: 15px; */
    background-color: transparent;
    border: none;
}
.emoji-rsvp-btn{
    font-size: xxx-large;
    padding: 30px;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background-color: #a8afb86a;
}
.rsvp-options-btns-container-show{
    display: flex;
    /* margin-left: -30px; */
    padding: 16px;
    /* align-items: center; */
    justify-content: center;
}
.rsvp-rsp-show{
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-rsvp{
    display: flex;
    align-items: center;
    justify-content: center;
}