.showpage-layout{
    /* display: flex; */
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 150px;
    /* padding-left: 60px; */
    /* flex-direction: row; */
    justify-content: center;
    /* width: fit-content; */
}
.show-info{
    /* width: 40vw; */
    width: 660px;
    position: relative;
}
.show-title{
    font-size: xxx-large;
    font-weight: 700;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 660px;
    /* margin-left: -20px; */
}
#event-title-show{
    width: max-content;
    font-size: 56px;
}
#event-time-h2{
   color: hsla(0,0%,100%,.6);
    margin-top: 8px;
    font-size: 22px;
}
#capacity-num-event-show{
    color: #ab76f6;
    font-weight: 700;
    /* padding-right: 2%; */
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.show-date-time{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: hsla(0,0%,100%,.9);
    /* font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif; */
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    width: max-content;
}
.show-details{
    margin-bottom: 40px;
}
.show-host{
    display: flex;
    width: max-content;
    /* width: fit-content; */
}
.show-hosted-title{
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
#show-host-by{
    padding-left: 10px;
    padding-right: 10px;
    color: hsla(0,0%,100%,.6);
    /* font-weight: 200; */
}
.show-host-profile{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.show-location{
    margin-top: 20px;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* color: hsla(0,0%,100%,.6); */
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
    width: max-content;
}
.show-cost{
    display: flex;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    width: max-content;
}
.show-capacity{
    display: flex;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    /* width: max-content; */
    width: max-content;
}
.show-description{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 20px;
    color: hsla(0,0%,100%,.6); 
    /* padding-bottom: 25px; */
}
.show-guests{
    display: flex;
    flex-direction: column;
}
.show-guests-rsvps{
    display: flex;
    flex-direction: row; font-size: 15px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.6);
    /* justify-content: space-around; */
    /* margin-left: -20px; */
}
.going{
    margin-right: 10px;
    margin-bottom: 5px;
}
.maybe{
    margin-right: 10px;
    margin-bottom: 5px;
    
}
.show-guests-profiles{
    display: flex;
    margin-top: 5px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #ab76f6;
}
.show-img{
    /* margin-left: 12px;
    margin-top: 55px; */
    margin-top: 56px;
    display: flex;
    justify-content: center;
}
#show-img{
    height: 400px;
    width: 400px;
    padding: 10px;
}
.show-photo-rsvp{
    /* position: fixed;
    overflow-x: visible;
    overflow-y: auto;
    top: 150px;
    width: 460px;
    width: 45vw;
    margin-left: 40vw;
    position: fixed;
    right: 100px;
    top: 50%;
    z-index: 95;
    transform: translateY(-50%); */
    
    /* max-height: calc(100% - 150px); */
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* padding: 50px 8px; */
    
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.rsvp-options-btns-container{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.show-add-pics-btn{
    color: #fff;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-bottom: 25px;
}

#show-add-pics-btn{
    cursor: pointer;
    background-color: hsla(0,0%,100%,.4);
    backdrop-filter: blur(45px);
    border: none;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
}
#show-camera-btn-emoji{
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
}

.show-rsvps-comments-header{
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 25px;
}

.author-nav-sidebar{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 95;
    transform: translateY(-50%);
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2),0 4px 32px 0 rgba(0,0,0,.2);
    background-color: hsla(0,0%,100%,.2);
    backdrop-filter: blur(45px);
}
#author-nav-sidebar-item{
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#author-nav-sidebar-text{
    font-size: 12px;
    padding-top: 8px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
}

.container-guest-list{
    background-color: #fff;
    border-radius: 80px;
    height: 78px;
    width: 78px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.going-text-show{
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    color: rgba(0,0,0,.7);
}
#number-guest-going{
    color: #ab76f6;
}

.setting-text-show{
    font-weight: 700;
    font-size: 12px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.show-settings-menu{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    /* padding-bottom: 10px; */
    margin: 10px;
    /* margin-bottom: 10px;
    margin-top: -10px; */
}
.divider{
    height: 1px;
    width: 40px;
    border-top: 1px solid hsla(0,0%,100%,.25);
    align-self: center;
}
.edit-show-title{
    color: #fff;
}
.rsvp-btn{
    display: flex;
    flex-direction: column;
    height: max-content;
    /* width: 200px; */
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.6); /* text color*/
    /* padding: 15px; */
    background-color: transparent;
    border: none;
}
.emoji-rsvp-btn{
    font-size: xxx-large;
    padding: 30px;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background-color: #a8afb86a;
}
.rsvp-options-btns-container-show{
    display: flex;
    /* margin-left: -30px; */
    padding: 16px;
    /* align-items: center; */
    justify-content: center;
}
.rsvp-rsp-show{
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-rsvp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-edit-instructions {
    display: none;
}

.hover-edit-instructions.visible {
    display: block;
    height: 0px;
    /* transform: ; */
}
.location-no-rsvp{
    color: #ab76f6;
    padding-left: 10px;
    padding-right: 10px;
}
#rsvp-location-h2-event-show{
    color: hsla(0,0%,100%,.6);
    font-style: italic;
}
.restrict-activity-log{
    background-color: rgba(0,0,0,.8);
    background-color: rgb(14 9 9);
    border-radius: 5%;
    margin: 30px auto;
    position: sticky;
    /* bottom: -45px; */
    transform: translateY(-35px);
    z-index: 3;
    min-height: 200px;
    justify-content: center;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 360px;
    color: #fff;
}
#log-restricted{
    margin-top: -310px;
    filter: blur(6px);
}
.show-rsvps-comments{
    height: min-content;
    width: 660px;
}
#restricted-log-container{
    /* max-width: 360px; */
}
@media screen and (min-width: 1025px) {
    
}

@media screen and (min-width: 1025px) {
    .show-photo-rsvp{
        /* position: relative;
        margin-left: 100px; */

        position: fixed;
        overflow-x: visible;
        overflow-y: auto;
        top: 150px;
        width: 460px;
        width: 45vw;
        margin-left: 45vw;
        /* max-height: calc(100% - 150px); */
        position: fixed;
        /* right: 100px; */
        top: 50%;
        z-index: 95;
        transform: translateY(-50%);

    }
    .showpage-layout{
        /* justify-content: space-between; */
        /* padding-left: 80px; */
        margin-right: 455px;
    }

    #show-img{
        height: 325px;
        width: 325px;
    }
    #event-title-show{
        font-size: 100%;
    }
    .show-title{
        justify-content: flex-start;
        width: fit-content;
    }
    .show-rsvps-comments{
        width: 400px;
        width: 450px;
    }
    .show-info{
        max-width: 465px;
    }
}

.event-description-showpage{
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
