upcoming-events-msg{
    display: flex;
    flex-direction: row;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    margin-top: -20px;
    color: white;
}

.event-items{
    height: fit-content;
    width: 90vw;
    margin-bottom: 40px;
    overflow-x: scroll;
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    /* scroll-snap-type: x proximity; */
    /* scroll-padding-left: 10vw; */
    /* height: auto; */
    /* max-width: calc(100% + 40px); */
    /* position: relative; */
    /* touch-action: pan-x pan-y; */
    /* overscroll-behavior-x:auto; */
    /* scrollbar-arrow-color: blue; */
}

.event-nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-start;
    width: 85vw;
    max-width: 600px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    padding: 0.5%;
    margin-bottom: 10px;
}

#welcome-header{
    font-size: 50px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    align-self: flex-start;
    
    /* margin: 12px 10vw 0; */
}

.upcoming-events-msg{
    font-size: 22px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    margin-top: 10px;
}
#upcoming-msg{
    font-size: 24px;
    font-weight: 700;
    margin-left: 7px;
    text-decoration: none;
    color: white;
}

.event-filter-btn{
    font-size: 15px;
    /* height: 25px; */
    padding: 10px;
    border-radius: 80px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.event-filter-btn:hover{
    background-color: hsla(0,0%,100%,.15);
    
}
.event-filter-btn-open{
    background: linear-gradient(0deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(90deg,rgba(217,149,211,.6) 7.51%,rgba(100,98,239,.6) 28.85%,rgba(109,238,255,.6) 57.53%,rgba(190,254,246,.6) 68.5%,rgba(118,246,185,.6) 82.82%,rgba(191,255,224,.6) 97.32%),hsla(0,0%,100%,.15);
    font-size: 15px;
    /* height: 25px; */
    padding: 10px;
    border-radius: 80px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    -webkit-text-fill-color: "transparent";
    -webkit-background-clip: text;
}
/* .event-filter-btn:hover{
    background-color: rgba(255, 255, 255, 0.15);
} */

#footer{
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

#all-mutuals-link{
    text-decoration: none;
    color: #AB76F6;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
#mutuals-header-home{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#mutuals-preview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    margin-top: 35px;
    width: 100%;
    justify-content: space-around;
}
#mutual-prev-item{
    /* padding-left: 45px;
    padding-right: 45px; */
    padding: 8px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
#mutual-prev-item:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 720px){
   #mutuals-preview{
    row-gap: 16px;
    margin-top: 16px;
   }
   #mutual-prev-item{
    width: 45%;
   }

}
#num-events-container{
    color: hsla(0,0%,100%,.7);
    display: flex;
    gap: 4px;
    padding-top: 7px;
    max-width: 100%;
    font-size: 12px;
    font-weight: 600;
}
#last-shared-event{
    color:  hsla(0,0%,100%,.5);
    display: flex;
    gap: 4px;
    padding-top: 7px;
    max-width: 100%;
    font-size: 12px;
    font-weight: 600;
}
#profile-container-mutual-prev{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#initials{
    height: 64px;
}
#user-profile-mutuals{
    width: 64px;
}
#username-container-mutual-prev{
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}
#shared-events-info{
    max-width: 100%;
    font-size: 12px;
    font-weight: 600;
}

.events{
    display: flex;
    padding-top: 15px;
}

.empty-event{
    height: 248px;
    width: 248px;
    border: dashed;
    border-color: rgb(176, 187, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#new-event-link{
    text-decoration: none;
    color: rgb(176, 187, 197);
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* padding: 15px; */
}
#new-event-link:hover{
    background-color: rgba(255, 255, 255, 0.15);
    height: 280px;
}