
.events{
    display: flex;
    padding-top: 15px;
}

.empty-event{
    height: 250px;
    width: 250px;
    border: dashed;
    border-color: rgb(176, 187, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-event-link{
    text-decoration: none;
    color: rgb(176, 187, 197);
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}

