.mutual-modal-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* overflow-x: hidden!important;
    position: fixed!important; */
    color: white;
}
.exit-btn-mutual-component{
    color: #ffff;
    display: flex;
    justify-content: left;
    padding: 12px;
}
.modalOpen{
    scroll-behavior: unset;
}
#cancel-img{
    height: 30px;
    width: 30px;
}