#username-edit-form{
    overflow-wrap: break-word;
    background-color:hsla(0,0%,100%,.15) ;
    /* font-size: 70px; */
}
#edit-profile-btn{
    width: 120px;
}
.cancel-btn-edit-form{
    background-color: hsla(0,0%,100%,.4);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    padding: 16px;
    font-weight: 700;
    border: none;
    width: 120px;
    margin-bottom: 10px;
}
.profile-user-socials{
    display: flex;
    flex-direction: row;
}
.social-btn{
    /* -webkit-tap-highlight-color: rgba(242,115,206,.5); */
    /* user-select: none; */
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* border: none; */
    line-height: 100%;
    text-align: center;
    background-color: transparent;
    border-radius: 99px;
    cursor: pointer;
    display: flex!important;
    align-items: center;
    padding: 6px 12px!important;
    font-weight: 400;
    background: transparent;
    color: #f273ce;;
    border: 1px solid #f273ce;
    margin-right: 10px;
}
.social-btn:hover{
    border: 1px solid transparent;
    background: linear-gradient(180deg,#863ff8,#f273ce);
    border-bottom: #f273ce;
    border-top: #863ff8;
    color: #fff;
}