#username-edit-form{
    /* background-color:hsla(0,0%,100%,.15) ; */
    font-size: 90%;
    height: 80px;
    /* background-color: #363d4741; */
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 98%;
}
.profile-user-name-edit{
    background-color:hsla(0,0%,100%,.15) ;
    height: 75px;
}
.profile-user-name-edit:hover{
    background: linear-gradient(90deg,#351a8ea8,#6b429ca5);
    background-color: hsla(0,0%,100%,.3);
}
.profile-user-bio-edit{
    background-color:hsla(0,0%,100%,.15) ;
    height: 80px;
}
.profile-user-bio-edit:hover{
    background: linear-gradient(90deg,#351a8e9d,#6b429c99);
    background-color: hsla(0,0%,100%,.3);
}

#edit-profile-save-btn{
    width: 117.5px;
    background-color: #ab76f6;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    padding: 16px;
    font-weight: 700;
    border: none;
    margin-bottom: 10px;
}
.cancel-btn-edit-form{
    background-color: hsla(0,0%,100%,.4);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    padding: 16px;
    font-weight: 700;
    border: none;
    width: 117.5px;
    margin-bottom: 10px;
    
}
.profile-user-socials{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}
.social-btn{
    /* -webkit-tap-highlight-color: rgba(242,115,206,.5); */
    /* user-select: none; */
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* border: none; */
    line-height: 100%;
    text-align: center;
    background-color: transparent;
    border-radius: 99px;
    cursor: pointer;
    display: flex!important;
    align-items: center;
    padding: 6px 10px!important;
    font-weight: 400;
    background: transparent;
    color: #f273ce;;
    border: 1px solid #f273ce;
    margin-right: 10px;
}
.social-btn:hover{
    border: 1px solid transparent;
    background: linear-gradient(180deg,#863ff8,#f273ce);
    border-bottom: #f273ce;
    border-top: #863ff8;
    color: #fff;
}
.social-btn-#insta-btn:hover{
    padding: 100px;
}
/* .-profile-user-photo{
    width: 80%;
    padding: 15px;
    height: 25px;
} */
.initials-profile{
    background: linear-gradient(to right bottom,#5c5cbc 10%,40%,#d85ed4 60%,80%,#cad3e2 90%);
    border-radius: 60%;
    height: 250px;
    width: 250px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: 900;
    color: #cad3e2;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}

.profile-details-div-edit{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    max-width: 500px;
}

#social-logo{
    width: 15px;
    height: 15px;
}
#social-logo-insta{
    width: 20px;
    height: 20px;
}
#social-btn-words{
    padding-left: 5px;
}
#profile-bio-edit-input{
    /* height: 80px; */
    font-size: 30px;
    width: 95%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

#footer{
    padding-bottom: 20px;
    margin-bottom: 0px;
}
