#profile-img{
    border-radius: 90%;
    height: 250px;
    width: 250px;
    padding: 10px;
}
.profile-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}
.profile-edit-options-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-user-name{
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    width: 100%;
    white-space: pre-wrap;
    padding-bottom: 0;
    font-size: 70px;
    margin-bottom: 5px;
    color:  #fff;
    display: flex;
    flex-wrap: wrap;
}

#user-profile-details{
   font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
#bam-emoji{
    color: hsla(0,0%,100%,.5);
    
}
.profile-details-div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    max-width: 500px;
    /* height: fit-content; */
}
#edit-profile-btn{
    background-color: #ab76f6;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    padding: 16px;
    font-weight: 700;
    border: none;
    width: 235px;
    margin-bottom: 10px;
}
.initials-profile{
    background: linear-gradient(to right bottom,#5c5cbc 10%,40%,#d85ed4 60%,80%,#cad3e2 90%);
    border-radius: 60%;
    height: 250px;
    width: 250px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: 900;
    color: #cad3e2;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}

.profile-user-bio{
    color: hsla(0,0%,100%,.5);
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3px;
}

.profile-user-join-date{
    margin-top: 8px;
    margin-bottom: 8px;
}