#wazzap-halloween-pic{
    height: 400px;
    width: 400px;
}

.title-options-container{

    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 20px;
    margin-left: -30px;
    align-items: flex-start;
}

.title-container{
    align-self: stretch;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    width: 93.5%;
    min-height: 45px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    height: fit-content;
}
#title-input{

    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: xx-large;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    border-radius: 0;  
    color: hsla(0, 2%, 59%, 0.793);
    color: white;

}
.date-time-container{
    width: 100%;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    margin-bottom: 10px;
    display: flex;
}
.datePicker-input{
    height: 100%;
    padding: 10px;
    width: 100%;
}

.host-optional-inputs-container{
    width: 100%;
    height: fit-content;
}
.host-container{
    display: flex;
    flex-direction: column;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    color: hsla(0, 2%, 59%, 0.793);
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    display: flex;
    margin-bottom: 3px;
}

#host-title{
    height: fit-content;
}
.host-title{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#host{
    height: fit-content;
    padding: 10px;
    padding-left: 40px;
}
.location-input-div{
    display: flex;
    align-items: center;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    margin-bottom: 3px;
    padding-left: 8px;
}
#location-input{
    margin-left: -0.2px;
    width: 96.7%;
    padding: 5px;
    padding-left: 10px;
    font-size: 17px;
    height: 25px;
}

.capacity-input-div{
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    display: flex;
    align-items: center;
    color: hsla(0, 2%, 59%, 0.793);
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    height: 25px;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
    padding-left: 8px;
}

#capacity-input{
    width: fit-content;
    width: 18%;
    font-size: 17px;
}

.cost-div{
    width: 97.8%;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: hsla(0, 2%, 59%, 0.793);
    margin-bottom: 3px;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
}
#cost-input{
    width: fit-content;
    width: 18%;
    font-size: 17px;
}

#custom-link{
    height: 30px;
    color: hsla(0, 2%, 59%, 0.793);
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 3px;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
}
.custom-link-div{
    display: flex;
    align-items: center;
    background-color: #363d4741;
    background-color: hsla(0,0%,100%,.15);
    padding-left: 8px;
}

.description-input-container{
    background-color:  #363d4741;
    background-color: hsla(0,0%,100%,.15);
    width: 100%;
    min-height: 90px;
    margin-top: 20px;
    padding-top: 5px;
    font-family: Syne,Avant Garde,Tahoma,Verdana,sans-serif;
}

#description-input{
    width: 100%;
    font-size: larger;
}

.photo-rsvp-container{
    width: 450px;
    height: max-content;
}
.open-invite-div{
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-left: 15px;
    height: 50px;
    align-items: center;
    background-color: #363d4741;
    margin-bottom: 15px;
}

#open-invite-title{
    padding-left: 15px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: #fff;
    font-weight: 500;
}

#open-invite-btn{
    padding-right: 15px;
    text-decoration: none;
    background-color: none;
    color: hsla(0,0%,100%,.6);
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}

.rsvp-option-container{
    height: max-content;
    width: max-content;
    background-color: #363d4741; /* div background trans-glossy*/
    background-color: hsla(0,0%,100%,.15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    color: hsla(0,0%,100%,.6);
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 325;
    margin-left: -13px;
}
.rsvp-options-btns-container{
    display: flex;
    /* margin-left: -30px; */
    padding: 0px;
}
.rsvp{
    display: flex;
    flex-direction: column;
    height: 135px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.6); /* text color*/
    padding: 15px;
    
}
.emoji-rsvp{
    font-size: xxx-large;
    padding: 35px;
    border-radius: 60px;
    background-color: #a8afb86a;
    background-color: hsla(0,0%,100%,.15);
}
.photo-container{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.event-form-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    justify-content: center;
    /* align-items: flex-start; */
    margin-top: 35px;
    padding-bottom: 100px;
}
#create-form-btn{

    background-color: #ab76f6;
    padding: 26px;
    font-weight: 600;
    cursor: pointer;
    font-size: 23px;
    border-style: none;
    position: fixed;
    right: 0;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;


}

.static-sidebar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

}

@media screen and (max-width: 1050px){
    .event-form-layout{
        flex-direction: column;
        align-items: center;
    }
    .photo-rsvp-container{
        margin-left: -50px;
        margin-top: 20px;
    }
}
