.splash-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

#phone{
    height: 370px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.phone-gif{
    width: 250px;
    height:450px;
     overflow-x:scroll; 
    white-space: nowrap;
    overflow: visible;
    display: block;
    z-index: 1;
    position: relative;
    display: flex;
}
#vid{
    border-radius: 45px;
    position: absolute;
    width: 165px;
    height: 379px;
    margin-left: 8px;
}
.div-1{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: min-content;
    width: 80%;
}
.div-1-header{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 55%;

}
#highkey{
    width: 370px;
    margin-top: 20px;
    /* padding-left: 70px; */
}
.sexiest{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Spacegrotesk,sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-1-btn{
    color: white;
    background-color: #fd4f30;
    border-style: none;
    height: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: Spacegrotesk,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    text-decoration: none;
}

#div-1-btn:hover{
    color: black;
    background-color: white;
}

#div-1-already-a-host{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 5px;
    font-family: Spacegrotesk,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#div-1-signin-btn{
    color: white;
    padding-left: 10px;
}

#goodtimes{
    margin-top: 45px;
    margin-bottom: 90px;
    width: 100vw;
}

.div-3{
    display: flex;
    flex-direction: column;
}

#div-3-header{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 32px;
    font-family: Syne,sans-serif;
    font-weight: 700;
}

.reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

}

#div-3-start-planning-btn{
    color: #fd4f30;
    background-color: #fdf3e9;
    margin-top: 30px;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 180px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    font-weight: 500;
}

.start-planning-btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
#div-3-start-planning-btn:hover{
    color:  #fdf3e9;
    background-color:#fd4f30;
    font-size: 21px;
}

#party-pages{
    font-family: Syne,sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 110px;
    margin-left: 90px;
}
.party-pages-container{
    width: 100vw;
}

.div-4-events{
    width: 90vw;
}
#event-photo{
    margin-top: 20px;
    width: 80vw;
}
.div-4-photos-container{
    margin-left: 20px;
    margin-bottom: 20px;
}

.div-4-inner-div{
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
}

#app-img{
    width: 320px;
}

.design{
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

#theme{
    width: 355px;
    margin-bottom: 15px;
}

#effect{
    width: 330px;
}

.get-started-btn{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#started-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 175px;
    font-size: 24px;
    line-height: 34px;
    padding: 15px 25px;
    font-weight: 500;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    text-align: center;
}

#started-btn:hover{
    color: black;
    background-color: white;
}

.pick-your-container{
    width: 100vw;
}

#pick-your-header{
    font-family: Syne,sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    justify-content: left;
}

.div-5-photo-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.try-btn{
    display: grid;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
#try-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 150px;
    font-size: 22px;
    line-height: 34px;
    padding: 12px 10px;
    font-weight: 500;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    text-align: center;
}

#try-btn:hover{
    color: black;
    background-color: white;
}

.div-5-photo-container{
    width: 85wv;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 40px;
}

#contact-img{
    width: 175px;
    height: 185px;
}
#rsvp-img{
    width: 250px;
}
#comments-img{
    width: 175px;
}

#photo-text{
    font-size: 13px;
    text-align: center;
    margin-top: 31px;
    font-weight: 500;
    line-height: 22px;
    font-family: Spacegrotesk,sans-serif;
}

.container{
    width: 175px;
}

.div-6{
    margin-top: 85px;
}

.div6-header{
    font-family: Syne,sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 120px;
    margin-left: -320px;
    display: flex;
    justify-content: left;
    line-height: 32px;
}

#planning-h4{
    text-decoration: line-through;
}

#partying-h4{
    color: #594fdf;
}

.div-6-photo-container{
    width: 93vw;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#share-photos{
    height: 350px;
    border-radius: 10%;
    cursor: pointer;
    border: 4px solid #061729;
    border-radius: 30px;
}
#cost-img{
    height: 250px;
    cursor: pointer;
    border: 4px solid #061729;
    border-radius: 30px;
    margin-bottom: 30px;
}
#poll-img{
    height: 150px;
    width: 200px;
    cursor: pointer;
    border: 4px solid #061729;
    border-radius: 30px;
}
#text-blast{
    height: 250px;
    width: 200px;
    cursor: pointer;
    border: 4px solid #061729;
    border-radius: 30px;
}

.div-6-photo-container-inner{
    display: flex;
    flex-direction: column;
}

#inner-h4{
    margin-bottom: 30px;
    margin-left: -15px;
    font-family: Sporting Grotesque,sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.gtps-btn{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
#gtps-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 295px;
    font-size: 22px;
    padding: 13px 14px;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    margin-bottom: 80px;
}

#gtps-btn:hover{
    color: black;
    background-color: white;
}
.div-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#img-5{
    width: 350px;
}

#header-div-7{
    margin-bottom: 45px;
    font-family: Sporting Grotesque, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
#h4-div-7{
    font-family: Spacegrotesk,sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 80%;
    text-align: center;
    margin-bottom: 20px;
    line-height: 22px;
    height: 30px;
}

.jtw-btn{
    display: grid;
    justify-content: center;
    margin-top: 10px;
    
}
#jtw-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #fd4f30;
    width: 225px;
    font-size: 22px;
    padding: 13px 10px;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 35px;
}

#jtw-btn:hover{
    color: black;
    background-color: white;
}

.cpp-btn{
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
    
}
#cpp-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 285px;
    font-size: 22px;
    padding: 13px 0px;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    margin-bottom: 70px;
}

#cpp-btn:hover{
    color: black;
    background-color: white;
}

.div-8{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features-img{
    width: 85vw;
    margin-bottom: 45px;
}

#feature-h4{
    font-size: 25px;
    line-height: 32px;
    font-family: Sporting Grotesque, sans-serif;
}

#stringy{
    width: 97vw;
    margin-top: -90px;
}

.reviews{
    justify-content: space-evenly;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    height: 435px;
}

#review{
    width: 330px;
    height: 300px;
    margin-top: 100px;
    margin-left: 25px;
    border-radius: 30px;
    padding-right: 10px;
}

#footer{
    font-family: Sporting Grotesque, sans-serif;
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}

.splash{
    width: 100%;
    height: 100%;
    background: radial-gradient(37.62% 18.31% at 3.41% 0.79%, rgba(246, 0, 255, 0.2) 8.85%, rgba(155, 137, 242, 0) 100%), radial-gradient(61.41% 11.63% at 97.28% 16.55%, rgba(38, 19, 255, 0.6) 0%, rgba(63, 17, 175, 0.18) 50.52%, rgba(42, 10, 122, 0) 100%), radial-gradient(150.73% 30.43% at 77.35% -1.59%, #000000 20.31%, rgba(111, 115, 152, 0) 100%), radial-gradient(86.21% 40.9% at 21.6% 0%, #E04CBB 0%, rgba(136, 122, 244, 0.54) 71.35%, rgba(160, 136, 255, 0) 100%), radial-gradient(94% 66.9% at 0% -4.81%, #EBBCFE 6.77%, #BABFF7 39.06%, #BADAFE 55.21%, #BBDDFF 71.88%, rgba(252, 238, 250, 0) 100%), radial-gradient(147.64% 47.68% at 115.2% 72.76%, #FE2819 8.85%, rgba(255, 202, 99, 0.8) 58.33%, rgba(223, 223, 223, 0) 100%), radial-gradient(84.4% 21.83% at 4.93% 37.79%, #FE5D50 0%, rgba(254, 172, 113, 0.65) 33.33%, rgba(255, 255, 255, 0) 100%), radial-gradient(112.29% 50.65% at 0% 100%, #3B2DDE 10.94%, rgba(235, 196, 253, 0.8) 77.6%, rgba(223, 223, 223, 0) 100%), #FCEEFA;;
}