.splash-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone{
    height: 370px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-1{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: min-content;
    width: 80%;
}
.div-1-header{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;

}
#highkey{
    width: 370px;
    margin-top: 50px;
    /* padding-left: 70px; */
}
.sexiest{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Spacegrotesk,sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-1-btn{
    color: white;
    background-color: #fd4f30;
    border-style: none;
    height: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: Spacegrotesk,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
}
#div-1-already-a-host{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 5px;
    font-family: Spacegrotesk,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#div-1-signin-btn{
    color: white;
    padding-left: 10px;
}

#goodtimes{
    margin-top: 45px;
    margin-bottom: 90px;
    width: 100vw;
}

.div-3{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

#div-3-header{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 32px;
    font-family: Syne,sans-serif;
    font-weight: 700;
}

.reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;

}

#div-3-start-planning-btn{
    color: #fd4f30;
    background-color: #fdf3e9;
    margin-top: 30px;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    font-weight: 500;
}

.start-planning-btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
#div-3-start-planning-btn:hover{
    color:  #fdf3e9;
    background-color:#fd4f30;
    font-size: 21px;
}

#party-pages{
    /* width: 60vw; */
    font-family: Syne,sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-left: 90px;
}
.party-pages-container{
    width: 100vw;
}

.div-4-events{
    width: 90vw;
}
#event-photo{
    margin-top: 20px;
    width: 80vw;
}
.div-4-photos-container{
    margin-left: 20px;
    margin-bottom: 20px;
}

.div-4-inner-div{
    display: flex;
    justify-content: space-evenly;
}

#app-img{
    width: 320px;
    /* height: ; */
}

.design{
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

#theme{
    width: 355px;
    margin-bottom: 15px;
}

#effect{
    width: 330px;
}

.get-started-btn{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#started-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 200px;
    font-size: 24px;
    line-height: 34px;
    padding: 15px 25px;
    font-weight: 500;
    font-family: Spacegrotesk,sans-serif;
    cursor: pointer;
    text-align: center;
}

#started-btn:hover{
    color: black;
    background-color: white;
}