.dropdown-btn {
    /* padding: 5px; */
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
    height: 45px;
}
.dropdown-btn:hover{
    background: #4a525d;
}
.dropdown-item{
    display: flex;
    /* justify-content: space-between; */
    justify-content: left;
    flex-direction: row;
    background-color: black;
    color: white;
    cursor: pointer;
    font-style: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    font-size: 11px;
    padding: 10px 20px;
    padding-bottom: 1px;
    padding-top: 1px;
    border: none;
    border-radius: 0;
    width: 185px;
    z-index: 2;
}
.dropdown-item:hover{
    background: #4a525d;
}


h3-button{
    display: grid;
    background-color: white;

}

.dropdown{
    cursor: pointer;
    padding: 0;
}