#nav-links{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

#active-session-nav{
 padding-right: 2%;
 display: flex;
 align-items: center;
}

#login-nav{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 15px;
}

#splash-nav{
    display: flex;
    /* justify-content: space-around; */
    font-family: Spacegrotesk,sans-serif;
    flex-direction: row;
    align-items: center;
}

#inspo-nav{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.photo-logo-home-link{
    margin-left: 20px;
}

#git-img{
    width: 60px;
    margin-right: 20px;
}
#linkedin-img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -10px;
}

#create-btn-nav{
    background-color: #ab76f6;
    color: white;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    /* backdrop-filter: blur(45px); */
    cursor: pointer;
    font-size: 14px;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    padding: 16px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    text-decoration: none;
    /* border-style: none; */
    /* font-size: 18px; */
}

#home-btn{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#notification-btn{
    height: 20px;
    margin-right: 20px;
}
#profile-btn-nav{
    margin-right: 10px;
}

.dropdown-menu{
    position: absolute;
    inset: 0px 0px auto auto;
    transform: translate3d(-16px, 95px, 0px);
    backdrop-filter: blur(30px);
    z-index: 96;
    width: 300px;
    background-color: rgba(0,0,0,.6);
    /* background-color: antiquewhite;  */
}
.session-user-name{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.user-profile-photo{
    width: 20%;
    padding: 15px;
    /* height: 25px; */
}
.initials{
    background: linear-gradient(to right bottom,#5c5cbc 10%,40%,#d85ed4 60%,80%,#cad3e2 90%);
    border-radius: 60%;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: large;
    font-weight: 900;
    color: #cad3e2;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
}
.profile-btn-container{
    overflow: visible;
    display: block;
    z-index: 1;
    /* position: relative; */
    width: 50px;
    /* display: flex; */
}
#profile-btn{
    border-radius: 90%;
    background: linear-gradient(to right bottom,#5c5cbc 10%,40%,#d85ed4 60%,80%,#cad3e2 90%);
    padding: 20px;
    border-style: hidden; 
    position: relative;
    color: #cad3e2;
    font-size: large;
    font-weight: 900;
    width: 60px;
}
#down-arrow{
    position: absolute;
    margin-left: 40px;
    margin-top: -15px;
    font-size: x-small;
    font-weight: 900;
    background: white;
    border-radius: 90%;
    padding: 4px;
}
.user-name-profile-section{ 
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#username-profile-btn{
    color: hsla(0,0%,100%,.8);
    padding-bottom: 5px;
}
.header-profile-btn{
    color: hsla(0,0%,100%,.6);
}
.profile-create-btns{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}

#profile-dropdown-create-btn{
    text-decoration: none;
    background-color: #ab76f6;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: white;
    padding: 13px;
    padding-left: 30%;
    padding-right: 30%;
}

.mutals-btn{
    padding: 15px;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
#mutuals-a-link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.8);
    font-weight: 400;
}
.mutual-emoji{
    padding-right: 15px;
}

.logout-btn{
    padding: 15px;
    display: flex;
    font-family: Space Grotesk,Helvetica Neue,Helvetica,sans-serif;
    color: hsla(0,0%,100%,.8);
    font-weight: 400;
    cursor: pointer;
}
.logout-emogi-profile-btn{
    padding-right: 15px;

}